/* EVALUATION 1 */
/* GRID 1*/
.gridOne {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    gap: 20px;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #f3eeee;
}
/* GRID 2*/
.gridTwo {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}

.gridItem1 {
    background-color: red;
}
.gridItem2 {
    background-color: blue;
}
.gridItem3 {
    background-color: yellow;
}
/* GRID 3*/
.gridThree {
    display: grid;
    grid-template-rows: 1fr 3fr;
    width: 500px;
    height: 300px;
    background-color: #f3eeee;
    margin: 0 auto; /*Added to center the grid*/
    padding: 5px; /*Added to see lil space on sides*/
}
.gridThree .gridItem5 img {
    width: 500px;
    height: 225px;
    object-fit: cover;
}
/* GRID 4*/
.gridFour {
    background-color: green;
    display: grid;
    grid-template-columns: 1fr;
    width: 500px;
    margin: 0 auto; /*Added to center the grid*/
}
.gridFour #gridItem7 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/* GRID 5*/
.gridFive {
    display: grid;
    grid-template-columns: 1fr;
    width: 500px;
    background-color: #f3eeee;
    margin: 0 auto; /*Added to center the grid*/
    padding: 5px; /*Added to see lil space on sides*/
}
#gridItem9 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}
#gridItem9 img {
    width: 100%; /*if this is missing, images are gonna look like same size*/
    height: 200px;
    object-fit: cover;
}
.gridItem8 {
    height: 200px;
}