/*.logo {
    text-align: center;
    margin-bottom: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}*/

.logo {
    grid-column: 2;
    grid-row: 1;
}

.logo-image img {
    width: 15em;
    height: 15em;
    margin-top: 50px;
    margin-bottom: 50px;
}
.page-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-columns: 1fr 1fr 1fr;

    margin-top: 5em;
    justify-content: center;
    align-items: center;

    height: 100vh;
}
.search-box {
    grid-column: 1/-1;
    grid-row: 2;
}

.search-box input {
    width: 70%;
    height: 3em;
    padding-left: 2em;
    font-size: 16px;
    border: 0px solid transparent;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.search-box input:hover {
    outline: none;
    border-color: #6b6969;
    box-shadow: 2px 2px 5px rgba(13, 126, 155, 0.5);
}

.search-box input:focus {
    outline: none;
    border-color: #242323;
    box-shadow: 2px 2px 5px rgba(13, 126, 155, 0.5);
}

.search-box input [type="text"] ::placeholder {
    background-image: url('../assets/search-icon.png');
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: 0.5em center;

    font-family: "Font Awesome\ 5 Free", Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    color: #5115db;
    font-weight: 800;

}

.search-box input:focus {
    outline: none;
    border-color: #6b6969;
    box-shadow: 0 0 5px rgba(107, 105, 105, 0.5);
}

.search-box button {
    height: 3em;
    padding: 0 1em;
    font-size: 16px;
    background-color: #6b6969;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.footer-posts {
    grid-column: 1/-1;
    grid-row: 3;
}