body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container > .image_block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image_block img {
    margin: 8px;
    height: 120px;
    width: auto;
}