body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

/*Images block*/

.container > .image_block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image_block img {
    margin: 8px;
    height: 120px;
    width: auto;
}

/*Colored Block Changing order*/

 .blocks {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1000px;
    }

    .block {
      background-color: #fabada;
      height: 200px;
      margin: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .block1 {
      flex-basis: 400px;
      flex-shrink: 2;
      order: 3;
    }

    .block2 {
      flex-basis: 100px;
      order: 1;
    }

    .block3 {
      flex-basis: 400px;
      order: 2;
    }