 body {
        background-color: lightgoldenrodyellow;
        font-family: "Merriweather", serif;
      }
      .error-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: column;
      }
      .error-container > .error-message {
        text-align: center;
        margin-bottom: 40px;
      }

      h1 {
        font-size: 200px;
        margin: 0;
      }

      img {
        width: 50%;
        height: auto;
        margin: 30px 10px 10px 0;
      }

      